<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<bean id="address" class="com.spring.ioc.xml.autowire.Address">
		<property name="provice" value="sichuan"></property>
		<property name="city" value="chengdu"></property>
	</bean>
	
	<bean id="staff" class="com.spring.ioc.xml.autowire.Staff">
		<property name="name" value="chenbowen"></property>
		<property name="age" value="25"></property>
	</bean>
	
	<!-- 可以使用 autowire 属性指定自动装配的方式 -->
	<!-- byName : 根据 bean 的名字和当前 bean 的 setter 风格的属性名进行自动装配.  若有自动匹配的,  则进行自动装配.  反之则不装配 -->
	<!-- byType : 根据 bean 的类型和当前 bean 的属性的类型进行自动装配.  若 IOC 容器中有1个以上的类型匹配的 bean, 则抛异常 -->
	<bean id="company" class="com.spring.ioc.xml.autowire.Company" autowire="byName">
		<property name="name" value="yinzhijie"></property>
		<!--  
		<property name="address" ref="address"></property>
		<property name="staff" ref="staff"></property>
		-->
	</bean>
	
</beans>
