<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<!-- 
		通过 FactoryBean 来配置 Bean 的实例
		class : 指向 FactoryBean 的全类名
		property : 配置 FactoryBean 的属性
	 -->
	<bean id="company" class="com.spring.ioc.xml.factorybean.ComPanyFactoryBean" ></bean>
	
</beans>
