<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<bean id="cycle" class="com.spring.ioc.xml.cycle.Cycle" init-method="init" destroy-method="destroy">
		<property name="cycle" value="cycleVal"></property>
	</bean>
	
	<!-- 
		实现 BeanPostProcessor 接口, 并具体提供以下两个实现 : 
		Object postProcessBeforeInitialization(Object bean, String beanName) : init-method 之前被调用
		Object postProcessAfterInitialization(Object bean, String beanName) : init-method 之后被调用
	 -->
	 <!-- 配置 bean 后置处理器 : 不需配置 id, IOC 容器自动识别是一个 BeanPostProcess -->
	<bean class="com.spring.ioc.xml.cycle.MyBeanPostProcess"></bean>
	
</beans>
